body {
    background: linear-gradient(90deg, #333 0%, #444 50%, #333 100%);
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
    min-width: 750px;
    max-width: 1250px;
}

img {
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s;
}

img:hover {
    background-color: #666;
}

.active {
    border-bottom: 7.5px solid #222 !important;
}

.nav-right a {
    color: linen;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
    padding: 20px;
    background-color: #777;
    border: 2px solid #333;
    border-radius: 10px;
    flex-grow: 1;
}

.nav-right a:hover {
    color: #ff4500;
    background-color: #666;
    box-shadow: 10px 10px 10px black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    border: 2px solid #222;
    border-radius: 10px;
    height: 70px;
    width: 100%;
    padding: 10px;
}

.wrapper {
    background-color: #444;
    border-radius: 10px;
    border: 2px solid #222;
    margin: 10px auto;
    padding: 10px;
}

#players {
    cursor: pointer;
}

.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    padding-top: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: #777;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.players-container {
    width: 60%;
    margin: auto;
}

.player-name {
    font-size: 40px;
    color: linen;
    font-weight: bold;
    text-align: center;
}

.quick-stats {
    display: flex;
    flex-direction: column;
}

.qs-table th, .qs-table td, .qs-table tr {
    text-align: center;
    font-size: 25px;
    color: linen;
    border: 2px solid #777;
    border-radius: 5px;
    border-collapse: collapse;
}

.qs-table tr:nth-child(even) {
    background-color: #333;
}

.pt {
    color: linen;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #222;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.projected {
    width: 100%;
}

.projected h2 {
    color: linen;
    text-align: center;
}

.proj-left, .proj-right {
    width: 100%;
}

.score-table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    color: linen;
}

.score-table tr:nth-child(1){
    background-color: linen;
    color: #222;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
}

.score-table tr:nth-child(even) {
    background-color: #333;
}

.score-table tr, .score-table td, .score-table th {
    border: 2px solid #777;
    border-radius: 5px;
    border-collapse: collapse;
}

.proj {
    display: flex;
    flex-direction: row;
}

.bottom-break {
    border: 1px solid #222;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.trade-tables {
    display: flex;
}

.dummy-light {
    color: linen;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.players-links {
    display: flex;
    flex-direction: column;
}
.players-links a {
    text-decoration: none;
    color: linen;
    font-size: 32px;
    margin: auto;
    padding: 10px 25px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #666;
    transition: 0.3s;
    margin-top: 20px;
    width: 15%;
    text-align: center;
}

.players-links a:hover {
    color: #ff4500;
    background-color: #666;
    box-shadow: 10px 10px 10px black;
}

@media (hover: none) {
    body {
        background-color: pink;
    }
} 